doctype html
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(src='jquery-3.1.0.min.js')
    script(src='socket.io-1.1.0.js')
    title 代码计算器
body
    div
        span durationDay
        input#duration
        input#now(type="date",placeholder="2016-09-02")
    div
        textarea#svnlink(style="width:1100px;height:300px;font-size:16px")
    button#get(style="width:100px;height:30px;font-size:24px") get
    div#result
script.
    $('#get').click(function(){
        $('#result').html('Initializing...')
        $.post('/get',{
            'svnlink':encodeURIComponent($('#svnlink').val()),
            'now':$('#now').val(),
            'duration':$('#duration').val()
        })
    })
    var socket = io.connect(window.location.origin);
    socket.on('update', function(res) {
        var data = res.data;
        if(res.data.result){
            $('#result').html(res.data.result)
        }
        if(data.progress){
            $('#result').html("Calculating: ..."+data.progress)
        }
    });